<main class="sign-in-page">
  <div class="sign-in-panel">
    <div class="sign-in-form">
      <div class="label">Email</div>
      <input class="sign-in-input" type="text" />
      <div class="label">Password</div>
      <input class="sign-in-input" type="password" />
      <div class="button" (click)="check()">
        Sign In
      </div>
    </div>
    <div class="sign-in-info">
      <h1>
        Hello!
      </h1>
      <p>
        Welcome to fabulous day app.<br />
        Have a good day.
      </p>
    </div>
  </div>
</main>
