nav.nav-frame {
  position: fixed;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 3vw;
  background-color: #2F4F4F;
  transition: 0.4s;
}

nav.nav-frame > main.nav-left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15vw;
  height: 100%;
  color: #FAEBD7;
}

main.nav-left > h2 {
  cursor: pointer;
}

/* unvisited link */
main.nav-left a:link {
  color: #FAEBD7;
  text-decoration: none;
  transition: 0.4s;
}

/* visited link */
main.nav-left a:visited {
  color: #FAEBD7;
}

/* mouse over link */
main.nav-left a:hover {
  color: #FAEBD7;
}

/* selected link */
main.nav-left a:active {
  color: #FAEBD7;
}

nav.nav-frame > main.nav-right {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 85vw;
  height: 100%;
  color: #AEC7BB;
}

/* unvisited link */
main.nav-right a:link {
  color: #AEC7BB;
  text-decoration: none;
  transition: 0.4s;
}

/* visited link */
main.nav-right a:visited {
  color: #AEC7BB;
}

/* mouse over link */
main.nav-right a:hover {
  color: #FAEBD7;
}

/* selected link */
main.nav-right a:active {
  color: #AEC7BB;
}

main.nav-right div {
  cursor: pointer;
  transition: 0.4s;
}

main.nav-right div:hover {
  color: #FAEBD7;
}

section.page-section {
  margin-top: 3vw;
}
