<h1> {{ pageName }} </h1>
<input [(ngModel)]="heroVal" type="text">

<h3>{{ heroVal }}</h3>

<section class="container">
  <div class="card" *ngFor="let hero of heroList; index as i" >
    <div class="cover" [style.background-image]="'url(' + hero.photo + ')'"></div>
    <div class="content">
      <!--<h3>{{ hero.name }}</h3>
      <p>
        {{ hero.role }}
      </p>-->
      <!--<input [(ngModel)]="hero.name" placeholder="name"/>-->
      <br />

      <br />
      <button (click)="show(hero)">Show</button>
    </div>
    
  </div>
</section>

