
.photo {
  width: 100%;
  height: auto;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 90vw;
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40vw;
  height: 22.5vw;
  margin-top: 5vw;
  margin-left: 2vw;
  background-size: 100% auto;
  background-repeat: no-repeat;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9, 7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001, inset 0px 0px 0px 0px #fff9, inset 0px 0px 0px 0px #0001, inset 0px 0px 0px 0px #fff9, inset 0px 0px 0px 0px #0001;
}

.cover {
  width: 40%;
  height: 100%;
  border-radius: 5px;
  background-size: auto 100%;
  background-repeat: no-repeat;
}

.content {
  width: 60%;
  height: 100%;
  padding: 1vw;
}

.card-header {
  width: 40vw;
  height: 15vw;
}