<section class="members-page-frame">
  <table class="data-table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">E-mail</th>
        <th scope="col">Job role</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Nick Pettit</th>
        <td>nick@example.com</td>
        <td>Web Designer</td>
      </tr>
      <tr>
        <th scope="row">Andrew Chalkley</th>
        <td>andrew@example.com</td>
        <td>Front-End Developer</td>
      </tr>
    </tbody>
  </table>
</section>
